body{
  font-family: Arial;
  background:#111;
  color:white;
  margin:0;
  text-align:center;
}

header{
  background:#000;
  padding:15px;
}

input{
  padding:10px;
  border-radius: 133px;

}

button{
  padding:10px;
  cursor:pointer;
  border-radius: 133px;
}

#resultados{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.card{
  background:#222;
  margin:10px;
  padding:10px;
  width:200px;
  cursor:pointer;
}

.card img{
  width:100%;
}

.card:hover{
  background:#333;
}


#modal{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  justify-content:center;
  align-items:center;
}

.modal-box{
  background:#222;
  padding:20px;
  max-width:400px;
}